.units, .services{
	
	font-size: 20px;
	color: black;
}
.contact{
	margin-right: 240px;
	font-size: 20px;
	color: black;
}
.login{
	font-size: 20px;
	font-weight: bold;	
	color: black;
}
.guestImg{
	display: block;
  	max-width: 50%;
  	height: auto;
}
.facebook{
	height: 50px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-social-links li a:hover img {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.8;
}

.home-sec1 .home-sec1-about .home-sec1-about-img {
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .home-sec1 .home-sec1-about .home-sec1-about-img {
    margin-bottom: 80px;
  }
}

.home-sec1 .home-sec1-about .home-sec1-about-img img {
  cursor: pointer;
}

.home-sec1 .home-sec1-about .number {
  color: #b9c4da;
  opacity: 0.12;
  font-family: Pangram, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 96px;
  font-weight: 900;
  letter-spacing: -0.7px;
  line-height: 1;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
	
.col-sm-4 {
    width: 33.3333333333%;
  }

  @media (min-width: 768px) {
  	.col-sm-4
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px){
	.logo{
		background-image: url("../img/mlclogo.png") !important;
	}
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
